# Git and version control
.git/
.gitignore

# Docker specific
.dockerignore
Dockerfile

# Project management and local dev
.github/
.idea/
.vscode/
.pre-commit-config.yaml
Makefile
tests/
tox.ini

# Caches and virtual environments
__pycache__/
*.pyc
*.pyo
.ruff_cache/
.pytest_cache/
.market-beacon-venv/
venv/
env/

# Secrets
.env
*.env
